<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ExportService" />
                <binding name="ExportService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ExportService" binding="basicHttpBinding"
                bindingConfiguration="ExportService" contract="GenerationServiceReference.IExportService"
                name="ExportService" />
            <endpoint address="http://localhost:8080/ExportService" binding="basicHttpBinding"
                bindingConfiguration="ExportService1" contract="GenerationServiceReference.IExportService"
                name="ExportService1" />
        </client>
    </system.serviceModel>
</configuration>