<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- DRDataServiceType используется для проверки сервиса редактора ограничений. -->
    <add key="DRDataServiceType" value="ICSSoft.STORMNET.Business.DRDataService, ICSSoft.STORMNET.Business.DRDataService"/>
  </appSettings>
</configuration>