/* WOLV основные стили - начало */
.ics-wolv {
    width: 100%;
    clear: both;
}

.wolv_table_pagers {
    width: 100%;
}

.wolv_wrap {
    width: 100%;
    table-layout: fixed;
}

.ListTable {
    width: 100%;
    overflow-x: auto;
}

.wolv-data-wrapper > table {
    overflow: auto;
    overflow-y: auto;
    overflow-x: auto;
    border-spacing: 0;
}

.ObjectListViewTable {
    border-collapse: separate !important;
    border-spacing: 0 1px;
}

    .ObjectListViewTable td {
        border: 1px solid;
        padding: 2px;
    }

.ics-wolv .wolv-caption-table .ics-wolv-column-header,
.ics-wolv .wolv-data-table .wrapper-cell-data {
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-word-wrap: normal;
    word-wrap: normal;
}

/* Заголовочные ячейки */
.ics-wolv-column-header {
    cursor: pointer;
}

    .ics-wolv-column-header .ics-wolv-column-sort-order {
        color: Black;
        font-size: 0.7em;
    }

    .ics-wolv-column-header .ics-wolv-column-sort-direction {
        display: inline-block;
        width: 10px;
        height: 10px;
    }

    .ics-wolv-column-header .ics-wolv-column-sort-asc {
        background: url('../images/ascsign.gif') no-repeat left top;
    }

    .ics-wolv-column-header .ics-wolv-column-sort-desc {
        background: url('../images/descsign.gif') no-repeat left top;
    }
/* WOLV основные стили - конец */

/* WOLV цветовая схема - начало */
.ics-wolv .wolv-caption-table > tbody > tr > td {
    color: #ffffff;
    border-color: #0199CB #007DA5 #208CB2 #0098CA;
    background: #0098ca;
    background: -moz-linear-gradient(top, #0098ca 0, #027da6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#0098ca), color-stop(100%,#027da6));
    background: -webkit-linear-gradient(top, #0098ca 0,#027da6 100%);
    background: -o-linear-gradient(top, #0098ca 0,#027da6 100%);
    background: -ms-linear-gradient(top, #0098ca 0,#027da6 100%);
    background: linear-gradient(to bottom, #0098ca 0,#027da6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098ca', endColorstr='#027da6',GradientType=0 );
}

.wolv-service-block-table {
    border-color: #0098ca;
    border-color: #0199CB #007DA5 #208CB2 #0098CA;
    background: #0098ca;
    color: #fff;
    width: 77%;
}

.ics-wolv .wolv-data-table > tbody > tr > td {
    background: #e9e9e9;
    border-color: #d2d2d2 #d2d2d2 #d2d2d2 #f1f1f1;
    cursor: pointer;
}

    .ics-wolv .wolv-data-table > tbody > tr > td.checkedline {
        color: #fff;
        border-color: #0199CB #007DA5 #208CB2 #0098CA;
        background: #0098ca !important;
        background: -moz-linear-gradient(top, #0098ca 0, #027da6 100%) !important;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#0098ca), color-stop(100%,#027da6)) !important;
        background: -webkit-linear-gradient(top, #0098ca 0,#027da6 100%) !important;
        background: -o-linear-gradient(top, #0098ca 0,#027da6 100%) !important;
        background: -ms-linear-gradient(top, #0098ca 0,#027da6 100%) !important;
        background: linear-gradient(to bottom, #0098ca 0,#027da6 100%) !important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0098ca', endColorstr='#027da6',GradientType=0 );
    }

    .ics-wolv .wolv-data-table > tbody > tr > td.WOLVSO {
        border-color: #99CB01 #7DA500 #8CB220 #98CA00;
        background: #99CB01 !important;
    }

.ics-wolv .wolv-data-table > tbody > tr:hover > td {
    background: #f6f6f6;
}

.ics-wolv .wolv-data-table > tbody > tr.ObjectListViewAlternateCell > td {
    background: #e9e9e9;
}

.ics-wolv .wolv-data-table > tbody > tr.ObjectListViewAlternateCell:hover > td {
    background: #f6f6f6;
}
/* WOLV цветовая схема - конец */

/* WOLV Toolbar - начало */
/* Контейнер тулбара. */
.ics-wolv-toolbar, .ics-wolv-pager-bottom {
    display: block;
    overflow: hidden;
}

.ics-wolv-toolbar {
    margin-top: 0;
}

/* Группа кнопок тулбара */
.ics-wolv-toolbar-group, .ics-wolv-toolbar-dynamic-container {
    position: relative;
    display: inline-block !important;
    margin-bottom: 7px;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 0;
}

/* Кнопка тулбара. */
.ics-wolv-toolbar-button {
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-color: #f9f9f9 #dfdfdf #bbbbbb #e2e2e2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-text-shadow: 0 1px 1px #ffffff;
    text-shadow: 0 1px 1px #ffffff;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    margin-bottom: 0;
    vertical-align: middle;
    padding: 7px;
    line-height: 0;
}

    .ics-wolv-toolbar-button:hover {
        background: #f6f6f6;
        color: #333;
        text-decoration: none;
        filter: none;
    }

    .ics-wolv-toolbar-button:focus {
        border-color: #3a88d5;
        background: #f0f0f0;
        color: #333;
        text-decoration: none;
        filter: none;
        position: relative;
        z-index: 10;
        outline: none;
        border: 1px solid #3a88d5 !important;
    }

    .ics-wolv-toolbar-button:active, .ics-wolv-toolbar-button-active {
        text-decoration: none;
        background: -moz-linear-gradient(top, #0098ca 0, #007ea7 100%);
        background: -ms-linear-gradient(top, #0098ca 0,#007ea7 100%);
        background: -o-linear-gradient(top, #0098ca 0,#007ea7 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#0098ca), color-stop(100%,#007ea7));
        background: -webkit-linear-gradient(top, #0098ca 0,#007ea7 100%);
        background: linear-gradient(to bottom, #0098ca 0,#007ea7 100%);
        background-color: #018BBA;
        color: #ffffff;
    }

/* Иконка кнопки тулбара. */
.ics-wolv-toolbar-button-icon {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    background: transparent url(../images/wolv-toolbar-icons.png) no-repeat;
    vertical-align: middle;
}

.ics-wolv-toolbar-button + .ics-wolv-toolbar-button {
    margin-left: 7px;
}

/* Подпись кнопки тулбара. */
.ics-wolv-toolbar-button-caption {
    display: inline;
    margin-left: 0.5em;
    vertical-align: middle;
}

/* Разделитель кнопок тулбара. */
.ics-wolv-toolbar .ics-wolv-toolbar-separator {
    display: inline-block;
    visibility: hidden;
    width: 7px;
}

/* Кнопка обновления данных. */
.ics-wolv-toolbar-button-refresh span.ics-wolv-toolbar-button-icon {
    background-position: 0 0;
}

/* Кнопка создания новой записи. */
.ics-wolv-toolbar-button-create .ics-wolv-toolbar-button-icon {
    background-position: -16px 0;
}

/* Кнопка редактирования записи. */
.ics-wolv-toolbar-button-edit .ics-wolv-toolbar-button-icon {
    background-position: -32px 0;
}

.ics-wolv-toolbar-button-edit span.ics-wolv-toolbar-button-caption {
    display: none;
}

/* Кнопка удаления запси. */
.ics-wolv-toolbar-button-delete .ics-wolv-toolbar-button-icon {
    background-position: -48px 0;
}

/* Кнопка для выбора отмеченных записей в лукапах. */
.ics-wolv-toolbar-button-use-selected .ics-wolv-toolbar-button-icon {
    background-position: -64px 0;
}

/* Кнопка поиска. */
.ics-wolv-toolbar-button-search .ics-wolv-toolbar-button-icon {
    background-position: -80px 0;
}

.ics-wolv-toolbar-button-search .ics-wolv-toolbar-button-caption {
    display: none;
}

/* Кнопка фильтрации. */
.ics-wolv-toolbar-button-filter .ics-wolv-toolbar-button-icon {
    background-position: -96px 0;
}

.ics-wolv-toolbar-button-filter .ics-wolv-toolbar-button-caption {
    display: none;
}

/* Кнопка редактирования ограничений. */
.ics-wolv-toolbar-button-limit-edit .ics-wolv-toolbar-button-icon {
    background-position: -112px 0;
}

.ics-wolv-toolbar-button-limit-edit span.ics-wolv-toolbar-button-caption {
    display: none;
}

/* Кнопка печати данных. */
.ics-wolv-toolbar-button-print .ics-wolv-toolbar-button-icon {
    background-position: -128px 0;
}

/* Кнопка настроек столбцов. */
.ics-wolv-toolbar-button-configure-columns .ics-wolv-toolbar-button-icon {
    background-position: -144px 0;
}

.ics-wolv-toolbar-button-configure-columns .ics-wolv-toolbar-button-caption {
    display: none;
}

/* Кнопка экспорта в Excel. */
.ics-wolv-toolbar-button-export-excel .ics-wolv-toolbar-button-icon {
    background-position: -160px 0;
}

.ics-wolv-toolbar-button-export-excel .ics-wolv-toolbar-button-caption {
    display: none;
}

/* Кнопка экспорта в XML. */
.ics-wolv-toolbar-button-export-xml .ics-wolv-toolbar-button-icon {
    background-position: -176px 0;
}

.ics-wolv-toolbar-button-export-xml .ics-wolv-toolbar-button-caption {
    display: none;
}

/* Кнопка опций ограничений. */
.ics-wolv-toolbar-button-limit-options .ics-wolv-toolbar-button-icon,
.ics-wolv-toolbar-button-export-excel-options .ics-wolv-toolbar-button-icon {
    background: url(../images/button-arrow.png) no-repeat 0 0;
}

.ics-wolv-toolbar-button-limit-options span.ics-wolv-toolbar-button-caption,
.ics-wolv-toolbar-button-export-excel-options span.ics-wolv-toolbar-button-caption {
    display: none;
}

.ics-wolv-toolbar-button-limit-edit, .ics-wolv-toolbar-button-export-excel {
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ics-wolv-toolbar-button-limit-options, .ics-wolv-toolbar-button-export-excel-options {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.ics-wolv-toolbar-button + .ics-wolv-toolbar-button-limit-options,
.ics-wolv-toolbar-button + .ics-wolv-toolbar-button-export-excel-options {
    margin-left: -1px;
}

/* Сплит-кнопка */
.ics-wolv-toolbar-split-button .ics-wolv-toolbar-button-icon {
    background-position: -240px 0;
}

/* Контейнер для динамически добавляемых элементов тулбара. */
.ics-wolv-toolbar-dynamic-container .ics-wolv-toolbar-button-icon {
    display: inline-block;
}

/* **************************************************** */
/* WOLV : Pagination                                    */
/* **************************************************** */

/* Верхний контейнер панели навигации */
.ics-wolv-pager-top {
    float: right;
}

/* Нижний контейнер панели навигации */
.ics-wolv-pager-bottom {
    display: block;
    margin-top: 7px;
}

.ics-wolv-pager select,
.ics-wolv-pager input {
    margin: 0;
}

/* Группы панели навигации */
.ics-wolv-pager-pages, .ics-wolv-pager-navigation,
.ics-wolv-pager-items-on-page, .ics-wolv-pager-go-to-page {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 13px;
    margin-bottom: 7px;
}

/* Контейнер количества элементов на странице */
.ics-wolv-pager-items-on-page {
    float: right;
}

.ics-wolv-pager-items-on-page-caption {
    margin-right: 8px;
}

.ics-wolv-pager-items-on-page-list {
    width: 70px;
}

/* Метка контейнера перехода по номеру страницы */
.ics-wolv-pager-go-to-page-label {
    display: none;
}

/* Поле ввода контейнера перехода по номеру страницы */
.ics-wolv-pager-go-to-page-input,
.ics-wolv-pager-inline-go-to-page-input {
    display: inline-block;
    margin: 0;
    padding: 5px 8px;
    width: 43px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    border-color: #bbbbbb #dfdfdf #f9f9f9 #e2e2e2;
    background: #e7e7e7;
    background: -moz-linear-gradient(top, #e0e0e0 0, #ededed 100%);
    background: -ms-linear-gradient(top, #e0e0e0 0,#ededed 100%);
    background: -o-linear-gradient(top, #e0e0e0 0,#ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#e0e0e0), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #e0e0e0 0,#ededed 100%);
    background: linear-gradient(to bottom, #e0e0e0 0,#ededed 100%);
    color: #333;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
}

/* Разделители */
.ics-wolv-pager-navigation-separator {
    display: none;
}

.ics-wolv-pager-container + .ics-wolv-pager-container {
    margin-left: 8px;
}

/* Контейнер с кнопками "Назад" и "Вперед" */
.ics-wolv-pager-navigation {
    float: left;
}

/* Текущая страница */
.ics-wolv-pager-pages > span.ics-wolv-pager-current-page {
    padding: 5px 8px;
}

    /* Текущая страница с тектовым полем */
    .ics-wolv-pager-pages > span.ics-wolv-pager-current-page.ics-wolv-pager-inline-go-to-page {
        padding: 0 !important;
        border: none !important;
        outline: none !important;
        background: transparent !important;
    }

/* Ссылка в панели навигации */
.ics-wolv-pager-page,
.ics-wolv-pager-navigation-button,
.ics-wolv-pager-pages > span {
    display: inline-block;
    margin: 0;
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-color: #f9f9f9 #dfdfdf #bbbbbb #e2e2e2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #e9e9e9;
    color: #333;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
}

/* Многоточие */
.ics-wolv-pager-pages > span {
    margin: 0;
    padding: 5px 1px;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #999;
    cursor: default;
}

.ics-wolv-pager-navigation-button {
    width: 50px;
}

.ics-wolv-pager-information,
.ics-wolv-pager-items-on-page-caption {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    line-height: 32px;
    margin-bottom: 7px;
}

.ics-wolv-pager-pages > .ics-wolv-pager-page,
.ics-wolv-pager-navigation > .ics-wolv-pager-navigation-button {
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ics-wolv-pager-pages a + a,
.ics-wolv-pager-pages span + a,
.ics-wolv-pager-pages a + span,
.ics-wolv-pager-pages span + span,
.ics-wolv-pager-navigation a + a,
.ics-wolv-pager-navigation span + a,
.ics-wolv-pager-navigation a + span,
.ics-wolv-pager-navigation span + span {
    margin-left: 4px !important;
}

/* Текстовое поле внутри текущей страницы */
.ics-wolv-pager-current-page > input {
    width: 40px;
    text-align: center;
    height: 20px !important;
}

.ics-wolv-pager input[type="text"]:focus {
    border-color: #fff;
    outline: none;
    position: relative;
}

.ics-wolv-pager-page > input[type="text"] {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0;
}

.ics-wolv-pager select {
    border: 1px solid #cccccc;
    border-color: #f9f9f9 #dfdfdf #bbbbbb #e2e2e2;
    background: #ededed;
    background: -moz-linear-gradient(top, #ededed 0, #e0e0e0 100%);
    background: -ms-linear-gradient(top, #ededed 0,#e0e0e0 100%);
    background: -o-linear-gradient(top, #ededed 0,#e0e0e0 100%);
    display: inline-block;
    margin: 0;
    padding: 5px 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #333;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    height: 32px;
}

/* Выделенная ссылка в панели навигации */
.ics-wolv-pager-page:hover,
.ics-wolv-pager-navigation-button:hover {
    background: #f0f0f0;
    color: #333;
    text-decoration: none;
    filter: none;
}

/* Ссылка с фокусом в панели навигации */
.ics-wolv-pager-page:focus,
.ics-wolv-pager-navigation-button:focus {
    background: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-color: #3a88d5;
    position: relative;
}

/* Нажатая/текущая ссылка в панели навигации */
.ics-wolv-pager-pages > span.ics-wolv-pager-current-page,
.ics-wolv-pager-pages a:active, .ics-wolv-pager-navigation-button:active {
    text-decoration: none;
    background: -moz-linear-gradient(top, #0098ca 0, #007ea7 100%);
    background: -ms-linear-gradient(top, #0098ca 0,#007ea7 100%);
    background: -o-linear-gradient(top, #0098ca 0,#007ea7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#0098ca), color-stop(100%,#007ea7));
    background: -webkit-linear-gradient(top, #0098ca 0,#007ea7 100%);
    background: linear-gradient(to bottom, #0098ca 0,#007ea7 100%);
    background-color: #018BBA;
    color: #ffffff;
}

/* Неактивная ссылка в панели навигации */
.ics-wolv-pager-navigation-disabled,
.ics-wolv-pager-navigation-disabled:hover {
    background: #f0f0f0 !important;
    opacity: 0.3;
    cursor: not-allowed;
}
/* WOLV Toolbar - конец */

/* WOLV панель поиска - начало */
.ics-wolv-toolbar-search-panel {
    margin: 8px 0;
}

    .ics-wolv-toolbar-search-panel span {
        margin: 5px;
        vertical-align: top;
        display: inline-block;
    }

    .ics-wolv-toolbar-search-panel br {
        display: none;
    }

    .ics-wolv-toolbar-search-panel input[type="text"] {
        margin-bottom: 0;
        vertical-align: top;
        height: 20px;
    }

    .ics-wolv-toolbar-search-panel select {
        margin-bottom: 0;
        vertical-align: top;
    }

    .ics-wolv-toolbar-search-panel input[type="button"] {
        margin-bottom: 0;
        margin-left: 4px;
        vertical-align: top;
    }
/* WOLV панель поиска - конец */

/* WOLV филтрация - начало*/
.FilterCell {
    text-align: left;
}

    .FilterCell select {
        width: 50px;
        margin: 0 0 4px 0;
    }

        .FilterCell select.FilterSelect, .FilterCell select.FilterOperationSelect,
        .FilterCell input[type="text"] {
            width: 100% !important;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            min-height: 30px;
            margin: 0;
        }

td.tableCellFilter {
    text-align: center;
}

    td.tableCellFilter .clrFilters {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../images/filter_delete.png);
        cursor: pointer;
    }

/* Тултип */

#tooltip {
    position: absolute;
    border: 1px solid #111;
    background-color: #fff;
    border-radius: 7px;
    padding: 16px;
    -moz-box-shadow: 1px 1px 10px #000;
    -webkit-box-shadow: 1px 1px 10px #000;
    box-shadow: 1px 1px 10px #000;
}

/* WOLV фильтрация - конец */

/* WOLV кнопки - начало */
.ics-wolv .actions {
    width: auto !important;
    vertical-align: middle;
    text-align: right;
}

    .ics-wolv .actions .selectAllOnPageBtn {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../images/check_box.png) no-repeat 0 0;
        margin: 0 4px;
        vertical-align: middle;
    }

    .ics-wolv .actions .selectAllOnAllPagesBtn {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../images/check_boxes_series.png) no-repeat 0 0;
        margin: 0 4px;
        vertical-align: middle;
    }

    .ics-wolv .actions .resetSort {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../images/sort_delete.png) no-repeat 0 0;
        margin: 0 4px;
        vertical-align: middle;
    }

    .ics-wolv .actions > input {
        margin: 0 4px;
    }

    .ics-wolv .actions > a {
        margin: 0 4px;
    }
/* WOLV кнопки - конец */

/* WolvParametersInputControl начало */

.wolv-service-block-text {
    margin: 3px;
}

.wolv-param-btn-block {
    margin: 3px;
    clear: both;
}

/* WolvParametersInputControl конец */