body.choosecolumns {
    margin: 0 8px;
}

    body.choosecolumns form {
        width: 672px;
        margin: 0 auto;
        overflow-x: hidden;
    }

    body.choosecolumns .wrap {
        margin-bottom: 48px;
        overflow: auto;
    }

.cc-header {
    width: 100%;
}

    .cc-header .cc-item {
        border: 1px solid #d8d8d8;
        background: #f0f0f0;
        display: inline-block;
        margin: 0;
        height: 16px;
        line-height: 16px;
        vertical-align: middle;
        padding: 5px;
    }

        .cc-header .cc-item .cc-select-all-btn {
            background: url("../images/selectonthispage_small.png") no-repeat scroll 0 0 transparent;
            display: inline-block;
            width: 15px;
            height: 15px;
            vertical-align: baseline;
        }

        .cc-header .cc-item .cc-reset-sort-btn {
            background: url("../images/selectonthispage_small.png") no-repeat scroll 0 -30px transparent;
            display: inline-block;
            width: 15px;
            height: 15px;
            vertical-align: baseline;
        }

        .cc-header .cc-item + .cc-item {
            margin-left: -1px;
        }

.cc-checkbox {
    width: 32px;
    text-align: center;
}

.cc-sort-order {
    width: 172px;
}

.cc-sort-priority {
    width: 180px;
}

.cc-property-name {
    width: 172px;
}

.cc-reset-sort {
    width: 60px;
    text-align: center;
}

.columns_list ul#sortable {
    margin: 0;
    padding: 0;
}

    .columns_list ul#sortable li {
        display: block;
        background: #fff;
        border: 1px solid #d8d8d8;
        cursor: move;
        margin-top: -1px;
        white-space: nowrap;
    }
    
    .columns_list ul#sortable li:hover {
        background: #def4ff !important;
    }

        .columns_list ul#sortable li.disabled {
            background: #ccc !important;
        }

.columns_list ul li:nth-child(even) {
    background: #f0f0f0 !important;
}

.columns_list ul#sortable li.disabled input[type="text"],
.columns_list ul#sortable li.disabled select {
    background: #ddd !important;
    box-shadow: none !important;
}

.columns_list ul#sortable li .cc-checkbox {
    display: inline-block;
    width: 42px;
    border: 1px solid #d8d8d8;
    border-width: 0 1px 0 1px;
    margin: 0 0 0 -1px;
    padding: 0;
    cursor: pointer;
    text-align: center;
}

.columns_list ul#sortable li .cc-sort-order {
    width: 64px;
    vertical-align: top;
}

.columns_list ul#sortable li .cc-sort-order-wrap {
    display: inline-block;
    border: 1px solid #d8d8d8;
    border-width: 0 1px 0 1px;
    margin: 0 0 0 -1px;
    padding: 8px 2px;
    width: 178px;
    line-height: 16px;
    text-align: center;
    vertical-align: top;
}

.columns_list ul#sortable li .cc-sort-priority {
    width: 64px;
    text-align: right;
    vertical-align: top;
}

.columns_list ul#sortable li .cc-sort-priority-wrap {
    display: inline-block;
    border: 1px solid #d8d8d8;
    border-width: 0 1px 0 1px;
    margin: 0 0 0 -1px;
    padding: 8px 2px;
    width: 186px;
    line-height: 16px;
    text-align: center;
    vertical-align: top;
}

.columns_list ul#sortable li .cc-property-name {
    width: 160px;
    vertical-align: top;
}

.columns_list ul#sortable li .cc-property-name-wrap {
    display: inline-block;
    border: 1px solid #d8d8d8;
    border-width: 0 1px 0 1px;
    margin: 0 0 0 -1px;
    padding: 8px 2px;
    width: 178px;
    line-height: 16px;
    text-align: center;
    vertical-align: top;
}

.columns_list ul#sortable li .cc-sort-control {
    display: inline-block;
    width: 64px;
    border: 1px solid #d8d8d8;
    border-width: 0 1px 0 1px;
    padding: 3px 3px;
    margin: 0 0 0 -1px;
    text-align: center;
    vertical-align: middle;
}

    .columns_list ul#sortable li .cc-sort-control input {
        margin: 0 2px;
    }

.cc-footer {
    padding: 8px;
    height: 32px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}

    .cc-footer .ics-btn#btnOK {
        float: right;
        width: 75px;
    }

.cc-hide {
    visibility: hidden;
}

span.cc-hide {
    display: none;
}

#btnResetSort.cc-reset-sort-btn {
    display: inline-block;
    margin: 0;
    margin-top: -4px; 
    width: 22px;
    height: 22px;
    background: url(../images/selectCols.png) no-repeat -1px -49px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #a9a9a9;
}

    #btnResetSort.cc-reset-sort-btn:hover {
        background-position: -25px -49px;
    }

    #btnResetSort.cc-reset-sort-btn:active {
        background-position: -49px -49px;
    }

    #btnResetSort.cc-reset-sort-btn:focus {
        background-position: -73px -49px;
    }

#btnSelectAllOnPage.cc-select-all-btn {
    background: transparent url(../images/selectCols.png) no-repeat -1px -1px;
    margin: 0;
    margin-top: -4px;
    width: 22px;
    height: 22px;
    display: inline-block;
    padding: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #a9a9a9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

    #btnSelectAllOnPage.cc-select-all-btn:hover {
        background-position: -25px -1px;
    }

    #btnSelectAllOnPage.cc-select-all-btn:active {
        background-position: -49px -1px;
    }

    #btnSelectAllOnPage.cc-select-all-btn:focus {
        background-position: -73px -1px;
    }