.ExceptionPanel
{
    width: 100%;
}

.ExceptionPanel .ErrorMsgLbl
{
    width: 100%; /*font-weight: bold;*/
    font-size: large;
}

.ExceptionPanel .ShowHideDetailsPanel
{
    background-color: #FF9090;
    height: 13px;
    cursor: pointer;
    width: 100%;
}

.ExceptionPanel .CollapsiblePnl
{
    background-color: #E0E0E0;
    height: 75px;
    width: 100%;
}

.ExceptionPanel .ExceptionType
{
    color: #0000ff;
}

.ExceptionPanel .StackTrace
{
    color: #505050;
}

.ExceptionHide
{
    display: none;
}

.ExceptionVisible
{
    display: block;
}

.WebErrorBox .ErrorCaption
{
    color: Red;
    font-weight: bold;
    font-size: xx-large;
}

.WebErrorBox
{
    background-color: #aed1f7;
}

.ErrorSelect {
    background-color: #aed1f7;
    width: 100%;
}

.WebErrorBox .ErrorOkButton
{
    width: 81px;
    height: 27px;
    font-size: 108%;
    color: #0250a0;
    background: #aed1f7 url('/App_Themes/Blue/images/design/but_enter.png');
    border: none;
    cursor: pointer;
}
